body{

margin:0;

padding:25px 20px;

background:#f3ecdc;

font-family:"Noto Serif KR", serif;

text-align:center;

color:#333;

}



/* 첫 화면 */

.main-header{

margin-top:50px;

margin-bottom:60px;

}



h1{

font-size:32px;

}



p{

line-height:1.8;

}



.menu{

background:#fffdf8;

max-width:360px;

margin:20px auto;

padding:30px 20px;

border-radius:20px;

box-shadow:0 5px 15px rgba(0,0,0,0.08);

}



/* 돌아가기 */

.back-button{

display:inline-block;

padding:12px 30px;

margin-bottom:35px;

background:#fffdf8;

color:#333;

text-decoration:none;

border-radius:30px;

font-size:15px;

box-shadow:0 4px 12px rgba(0,0,0,0.08);

}



/* 타임라인 */

.page-title{

margin-bottom:40px;

}



.timeline{

max-width:650px;

margin:auto;

}



.event{

background:#fffdf8;

padding:25px;

margin:25px 0;

border-radius:18px;

text-align:left;

box-shadow:0 4px 12px rgba(0,0,0,0.07);

}



.event span{

font-size:14px;

color:#888;

}



.event h2{

margin:10px 0;

}



/* 삽화 */

.gallery{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:15px;

}



.image-box{

aspect-ratio:1/1;

background:#ddd;

border-radius:15px;

display:flex;

justify-content:center;

align-items:center;

font-size:14px;

color:#777;

}



section{

margin:50px 0;

}



.description{

color:#666;

}



@media(max-width:500px){

h1{

font-size:26px;

}


.event{

padding:20px;

}


.gallery{

gap:12px;

}

}